*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*Bagrundsfarve*/
body {
    background: linear-gradient(to bottom, #000 0%, #121d1f 33%, #131a20 66%, #000 100%);
    color: white;
    margin: 2%;
}

/*headerens udseende og placering*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:  #000000;
    
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
/*----------------------------------Navnar-------------------------------------*/
/*navigationsbarens layout og funktion*/
nav {
    display: block;
    unicode-bidi: isolate;
}
header .navbar ul {
    list-style: none;
    display: flex;
}

header .navbar ul li {
    margin: 0;
    padding: 0;
    position: relative;
    
}

header .navbar ul li a {
    padding: 0 1.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #90081F;
    display: block;
    white-space: nowrap;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width:fit-content;
    display: none;
    z-index: 999;
    padding: 0;
    

}

header .navbar ul li ul li {
    width: 100%;
    border-top: 0.05rem solid #ccc;
    padding: 1vw 0;

}

/*aktivering af under-menuen i HEMA+*/
header .navbar ul li:hover > ul {
    display: block;
}

header .navbar ul li a:hover {
    color: #fff;
    
}

/*ikonet i venstre hjørnes størrelse*/
.logo {
    width: 9vw;
}
/*aktivering af checkbox i burgermenuen*/
.burger, #menu-toggle{
    display:none;

}
/*burgermenu-ikonets størrelse*/
header .navbar .burger img{
    width: 5%;
}
/*---------------------------------Navnar End-------------------------------------*/

h1{
    font-size: 10vw;
}

/*dekoration af h2'er*/
h2{
    text-decoration: overline 0.3rem solid  #90081F;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/*logo i både top og bund*/
.op-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #90081F;
    margin-top: 5vw;
    
}

.op-logo .sigil {
    width: 20vw;
}
/*-------------------------------lp-------------------------------------*/
/*landingpage elementer*/
.kommende-be{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5%;
}

.kommende-be a {
    color: #90081F;
}

.kommende-be p {
    font-size: 1.5rem;
}

/*billede og tekst til "5 hurtige om HEMA"*/
.hurtige-box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
    align-items: flex-start;
    justify-content: space-evenly;
}
.hurtige-box p {
    font-size: 1.5rem;
    margin-top: 3vw;
    max-width: 90%;
    
}

.hurtige-img {
    width: 50rem;
    max-width: 600px;
    
}

.overskrift {
    color: #90081F;
}



.lp-om-hema a {
    color: #90081F;
    margin-bottom: 999px;
}




/*-------------------------------lp slit-------------------------------------*/
/*-------------------------------udstyr-------------------------------------*/

.udstyr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*infographic*/
.udstyr-container .infografik{
    display: flex;
    justify-content: center;
    margin-top:2rem ;
}

.infografik-img {
    max-width: 80vw;
}

/*alle udstyr faktabokse*/
.boxes {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    margin-left: 2vw;
    color: white;
    max-width: 90%;

    
}



.boxes img {
    max-width: 7.5rem;
    margin-right: 3vw;
    
 
}

.box-text {
    display: flex;
    flex-direction: column;
    /*margin-right: 300px;*/
    /*margin-left: 100px;*/
    border-left: 0.4rem solid #90081F;
    padding-left: 1rem;
}











/*-------------------------------udstyr end-------------------------------------*/




/*-------------------------------Klubber-------------------------------------*/

.klub-container {
    display: flex;
    flex-direction: column;
    
    width: 70vw;
    
    
    
   
}

/*map*/
.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
    
   
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    border: none;
}

/*faktabokse*/
.boxes2 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    /*margin-left: 100px;*/
    color: white;
    
}

/*regioner*/
.land {
   
    margin-top: 3rem;
    
    color: #90081F;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
   
}



.boxes2 {
    width: 100%;
    
    margin-top: 15%;
    margin-left: 10%;
    padding: 1%;
    border-left: 0.4rem solid #90081F;    
}


.boxes2 a {
color: #90081F;
}

/*-------------------------------klubber slut-------------------------------------*/




/*-------------------------------Discipliner-------------------------------------*/
/*de tre sværdknapper*/
.svaer-article {
    list-style-type: none;
    color: white;
   
    margin:0.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    padding-bottom: 5rem;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    
    
}

.svaer-article li{
    border: 0.15rem solid #90081F;
    background-color: #11212d;
   

    
}

.svaer-billede{
    transform: rotate(-90deg);
    width: 20rem;

}

/*dropdown-funktion til knapperne*/
#toggle-kaarde, #toggle-tohandssvaerd, #toggle-sabel{
    display: none;
}
/* Hide the paragraph by default */
.dropdown-content {
    display: none;
}

/* Show the paragraph when the checkbox is checked */
#toggle-kaarde:checked + .dropdown-content {
    display: block;

}

#toggle-tohandssvaerd:checked + .dropdown-content {
    display: block;

}

#toggle-sabel:checked + .dropdown-content {
    display: block;

}




/*-------------------------------Discipliner slut-------------------------------------*/








/*-------------------------------mellem breakpoint-------------------------------------*/

@media (max-width: 1000px){

    /*ændring i skalering af navbar'en*/
    header .navbar ul li a{
    font-size: 2vw;
    padding: 0 2vw;
    
    }

    /*ændring i skalering af fægter-billedet på landing page*/
    .hurtige-img {
        width: 50vw
        
    }




}





/*-------------------------------mobil breakpoint-------------------------------------*/
@media (max-width: 400px) {

    

/*ændring af udseende af header'en*/
.header{
    padding: 0 10%;
}


.op-logo {
    align-items: center;
    margin-top: 40px;
    

}

/*-------------------------------navbar-------------------------------------*/

/*burgermenu bliver aktiveret*/
.burger{
    display:flex;
    justify-content: flex-end;
}


    /* Skjul navigationselementerne som standard */
    header .navbar ul {
        display: none;
        flex-direction: column; /* Vertikal menu */
        
        width:50%;
        background-color: #000;
        position: absolute;
        top: 100%; /* Lige under header */
        right:0 ;
        z-index: 999;
       
    }

    /*overhaul af udseende til navbar'en*/
    header .navbar ul li{
        
        border-bottom: 0.1rem solid #90081F;
        width: 100%;
        
    }
    header .navbar ul li a{
        font-size: 100%;
        padding: 10% 0;
        
        }
    header .navbar ul .guide-container{
        border-bottom: 0.1rem solid #ccc;
        border-top: 0.1rem solid #ccc;
    }

    header .navbar ul li ul{
        
        top:0;
        left: auto;
        right: 100%;
        border-top: none;
        width: fit-content;
       
        
    }
    

    header .navbar ul li ul li{
        border-top: none;
        
        
    }
    header .navbar ul li ul .historie-container{
        border-top: 0.1rem solid #ccc;
        border-bottom: 0.1rem solid #90081F;
        
        border-left: 0.1rem solid #ccc;
        
    }

    header .navbar ul li ul .disci-container{
        border-right:0.1rem solid #ccc;
        border-left: 0.1rem solid #ccc;
        border-top: none;
        border-bottom: 0.1rem solid #ccc;

    }

    
    /* Viser navigationselementerne, når checkboxen er markeret */
    #menu-toggle:checked + .burger + ul{
        display: flex; /* Gør menuen synlig */
        align-items: flex-end;
        
        
        
    }

    /*-------------------------------navbar slut-------------------------------------*/



    







/*-------------------------------discipliner-------------------------------------*/

/*ændring af sværdknappernes proportioner*/

.svaer-article {
               
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    
}

.svaer-billede {
    transform: rotate(0deg);
    max-width: 100vw;
}

/*-------------------------------discipliner slut-------------------------------------*/


/*-------------------------------LP-------------------------------------*/

/*ændring af størrelse og placering af elemnterne på landing page*/
.kommende-be{
    margin-left: 25px;
    margin-right: 35px;
    margin-top: 15px;

}

.kommende-be a {
    color: #90081F;
}

.kommende-be p {
    font-size: 20px;
}

.hurtige-box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 35px;
    margin-left: 25px;
    
}
.hurtige-box p {
    font-size: 20px;
    margin-top: 12px;
}


.overskrift {
    color: #90081F;
}

.hurtige-img {
    width: 340px; /* Angiv den ønskede bredde */
    height: 210px; /* Angiv den ønskede højde */
    object-fit: cover; /* Fylder rammen og beskærer billedet */
    object-position: top; /* Centrerer billedet i rammen */
}

.lp-om-hema a {
    color: #90081F;
    margin-bottom: 999px;
}

.op-logo-lp {
    max-width: 220px;
}






/*-------------------------------udstyr-------------------------------------*/

/*ændring af position og størrelse af elementerne på undersiden: udstyr*/
.udstyr-container .infografik{
    display: flex;
    justify-content: center;
}



.infografik-img {       
    max-width: 80%;    
}


.boxes {
    display: flex;
    flex-direction: column;
    margin-top: 7.5rem;
    margin-left: 2vw;
    color: white;
    max-width: 90%;

    
}


.boxes img {
    max-width: 7.5rem;
    margin-left: 3vw;

}
.boxes-img {
border-left: #90081F;

}

.box-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    border-left: 0.4rem solid #90081F;
    padding-left: 10px;
}

.boxes .udstyr-svaerd{
    
    transform: rotate(-90deg);
    width: 15%;
    margin-left: 35%;
    
    
}




/*-------------------------------bluboversigt-------------------------------------*/

/*ændring af position og størrelse af elementerne på undersiden: klubber*/

.klub-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
    
    

}
.land {
   
    margin-top: 3rem;
    
    color: #90081F;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
   
}



.boxes2 {
    margin-top: 15%;
    margin-left: 10%;
    padding: 1%;
    border-left: 0.4rem solid #90081F;    
}


.boxes2 a {
color: #90081F;
}















/*--------------------------------karosel------------------------------------------*/

/*dette er styling for hvad der skulle have været en billede karussel på landing page.
Men den virker desværre ikke og er blevet skrottet*/
.slider {
    width: 100%;
    border: 1px solid red;
    height: var(--height);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;

}
.slider.list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
}
.slider.list .item img {
    width: 100%;

}
@keyframes autoRun {
    form {
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }

}
/*--------------------------------karosel slut------------------------------------------*/


}

















